trigger:
  branches:
    include:
      - master
      - refs/tags/*

pr:
- master

resources:
  repositories:
    - repository: templates
      type: github
      name: CadQuery/conda-packages
      endpoint: CadQuery
    - repository: jmwtemplates
      type: github
      name: jmwright/conda-packages
      endpoint: jmwright

jobs:
- template: conda-build.yml@templates
  parameters:
    name: Linux
    vmImage: 'ubuntu-16.04'
    py_maj: 3
    py_min: 8
    conda_bld: '3.20.3'

- template: conda-build.yml@templates
  parameters:
    name: macOS
    vmImage: 'macOS-10.15'
    py_maj: 3
    py_min: 8
    conda_bld: '3.20.3'

- template: conda-build.yml@templates
  parameters:
    name: Windows
    vmImage: 'vs2017-win2016'
    py_maj: 3
    py_min: 8
    conda_bld: '3.20.3'

- template: pyinstaller-build.yml@jmwtemplates
  parameters:
    name: Linux
    vmImage: 'ubuntu-18.04'
    py_maj: 3
    py_min: 8
    conda_bld: '3.20.3'