name: Tests

on: [push, pull_request]

jobs:
  tests-with-pip-install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libglu1-mesa libxrender1 libxkbcommon-x11-0
      - name: Install dependencies
        run: |
          python -m pip install .[dev]
          python -m pip install pytest-xvfb pytest-qt
      - name: Run tests
        run: python -m pytest -v
